/*-- scss:functions --*/

/*-- scss:defaults --*/

/*-- scss:rules --*/
/*.observablehq--error { display: none; }*/

.disclaimer { 
  font-size: 80%;
  font-style: italic;
}

.tab-pane > p { padding-top: 0em; }

.caption {
  font-size: 80%;
  line-height: normal;
}

.nav-pills {
  .nav-tabs, .tab-content { border: none; }
  
  .nav-link {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-radius: var(--quarto-border-radius);
    
    &.active { background-color: #859900; }
  }
}

.nav-link, .nav-link:hover { color: #859900; }
